<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>폼 예제</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h5 class="mt-5">매개변수 처리 예제</h5>
        <form id="exam03Form">
            <div class="mb-3">
                <label for="name" class="form-label">이름</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="이름 입력" />
            </div>
            <div class="mb-3">
                <label for="age" class="form-label">나이</label>
                <input type="text" class="form-control" name="age" id="age" placeholder="나이 입력" />
            </div>
            <button type="button" id="exam01Btn" class="btn btn-success">exam03 예제 확인</button>
            <button type="button" id="exam02Btn" class="btn btn-success">exam04 예제 확인</button>
        </form>

        <script src="http://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="/js/form.js"></script>

    </div>
</body>
</html>