<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main 페이지 구현</title>
</head>
<body>
    <h3>매핑 확인</h3>
    <P>
        <a href="/example/exam01">문서 확인[exam01.html]</a>
    </P>

    <h3> form 예제</h3>
    <P>
        <a href="/example/form">폼 예제[exam03.html, exam04.html]</a>
    </P>

    <h3> thymeleaf 문법 연습</h3>
    <p>
        <a href="/example/test">thymeleaf 문법 연습[test.html, exam02.html]</a>
    </p>

    <h3> 데이터 전송</h3>
    <p>
        <a href="/example/exam05">데이터 확인</a>
    </p>

    <h3> Json으로 데이터 전송</h3>
    <p>
        <a href="/sample/getText">텍스트</a>
        <a href="/sample/getExample">VO를 Json으로</a>
        <a href="/sample/getList">list를 Json으로</a>
        <a href="/sample/getMap">map을 Json으로</a>
    </p>
</body>
</html>